.cursor {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: transform 0.1s ease-out, width 0.2s ease, height 0.2s ease, border-width 0.2s ease;
  pointer-events: none;
  mix-blend-mode: difference;
}

.cursor.hovered {
  width: 1.75rem;
  height: 1.75rem;
  border-width: 3px;
}
